@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Smooch+Sans:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto:wght@500&display=swap');
.header-sticky{
    position: relative;
    top: 0;
    z-index: 1;
}
.img-fado img{
    height: 100%;
    left: 50%;
    transform: translateX(-15%);
}
.home-sub-article {
    background: #fff;
    padding-bottom: 40px;
}
.home-sub-article .article-card {
    background: linear-gradient(180deg,#ccd2dc,#fff 80%);
    border-radius: 12px;
    display: block;
    padding: 1px;
    transition: .3s;
    width: 100%;
}
.home-sub-article .article-card .card-inner {
    background: #fff;
    border-radius: 12px;
    box-shadow: inset 0 4px 1px 0 #f3f5f7;
    padding: 24px 24px 0;
    transition: .3s;
    width: 100%;
}
.home-sub-article .article-card .icon-col {
    margin-right: 16px;
}
.home-sub-article .article-card .title {
    color: #303846;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    transition: .3s;
}
.home-sub-article .article-card .desc {
    color: #505f77;
    font-size: 13px;
    line-height: 19px;
    margin-top: 4px;
}
.home-mall-deal .block-head {
    align-items: center;
    display: flex;
    margin-bottom: 16px;
}
.home-mall-deal .main-title {
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    margin-bottom: 4px;
}
.product-deal-action-card:hover {
    box-shadow: 0 24px 32px -12px rgb(48 56 70 / 10%);
    transform: translateY(-4px);
}
.home-sub-anchorlink .anchorlink-item {
    align-items: center;
    background: rgb(127 139 158 / 19%);
    border-radius: 60px;
    color: #000;
    display: flex;
    font-weight: 700;
    justify-content: center;
    padding: 12px 16px;
    text-align: center;
    transition: .3s;
    width: 100%;
}
.home-sub-anchorlink .anchorlink-item:hover {
    background-color: #505f77;
    color: #fff;
}
.home-sub-anchorlink .anchorlink-items{
    padding: 23px 24px;
}
.home-deal .block-body-bner-col {
    flex: 0 0 252px;
    height: 691px;
    margin-right: 24px;
    position: relative;
}
.main-bner {
    display: block;
    height: 100%;
    position: relative;
}
.main-bner img{
    align-items: center;
    border-radius: 10px;
    bottom: 0;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
  
}
.product-img-decor .img-fluid {
    max-width: 48%;
}
.notranslate ul .icon-home{
    position: relative;

}
.notranslate ul{
    list-style: none;    
    padding: 0 !important;
}
.notranslate ul li{
    display: inline-block;
    padding-right: 10px;
}

.notranslate ul .after-sloid::after{
    border-right: 1px solid #cfd5de;
    content: "";
    height: 20px;
    margin-top: -10px;
    position: absolute;
    right: -4px;
    top: 50%;
    transform: rotate(20deg);
    width: 1px;
    z-index: 2;
}
.notranslate ul .dr-home:hover{
    cursor: pointer;
}
.notranslate ul .cl-detail{
    color: #6d6b6b;
}

.main-detail-section .image-slider{
    border-radius: 10px;
    border: 1px solid #303846;
    padding-bottom: 30px;
}
.main-detail-section .swiper-wrapper img{
    width: 94%;
    padding: 8px;
    margin-left: 5%;
}
.main-detail-section .product-name{
    display: inline;
    font-size: 14px;
    line-height: 21px;
    word-break: break-word;
}
.main-detail-section .brand-segment .name-outer::after{
    content: "・";
    padding: 0 3px 0 3px;
}
.main-detail-section .brand-segment, .review{
    font-size: 13px;
}
.product-detail{
    color: #504b4b;
    margin:0 0 0 20px;
}
.rating-star{
    color: #2e2e2e;
    font-size: 13px;
}
.favorite-compare-control{
    margin-top: -20px;
}
.favorite-compare-control .favorite-tym{
    color: black;
    font-size: 16px;
    border:none;
    padding:0;
    margin:0;
}
.favorite-compare-control .favorite-tym:hover{
    color: rgb(85, 24, 24);
}
.favorite-compare-control .favorite-tym:focus{
    background-color: #508b69;

}
.favorite-compare-control .favorite-compare{
    font-size: 16px;
}
.change-price-tab{
    border-bottom: 1px solid #cfd5de;
    margin-top: 20px;
}
.alert-login-text{
    font-size: 13px;
    color: #303846;
    padding: 6px 0 6px 72px;
}
.product-detail .alert-login-icon{
    bottom: 0;
    height: 56px;
    left: 0;
    margin-right: 16px;
    position: absolute;
    width: 56px;
}
.product-detail .alert-login-icon img {
    height: 56px;
    width: 56px;
}
.product-detail .alert-login-right-icon {
    align-items: center;
    display: flex;
    flex: 0 0 34px;
    justify-content: center;
}
.alert-login-segment{
    background: #eaedf1;
    border: 1px dashed #2e2e2e;
    margin-bottom: 8px;
    position: relative;
    align-items: center;
    height: 49px;
}

.product-detail .benefit-box {
    border: 1px dashed #2e2e2e;
    font-size: 12px;
    line-height: 18px;
}
.product-detail .benefit-segment {
    padding: 12px 8px;
    position: relative;
}
.product-detail .benefit-row {
    color: #303846;
    display: block;
    padding: 4px 4px 4px 24px;
    position: relative;
    transition: .3s;
}
.product-detail .benefit-row:before {
    background: #505f77;
    border-radius: 50%;
    content: "";
    height: 4px;
    left: 12px;
    position: absolute;
    top: 12px;
    width: 4px;
}
.product-detail .benefit-row:hover.hover-effect {
    background: #cfd5de;
    border-radius: 6px;
}
.product-detail .benefit-bod{
    border-bottom: 1px dashed #ccd2dc;
    bottom: 0;
    content: "";
    height: 1px;
    left: 20px;
    position: absolute;
    width: calc(100% - 40px);
}
.product-detail .benefit-discount {
    align-items: center;
    cursor: pointer;
    padding: 0 12px;
}
.product-detail .benefit-discount-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -8px;
    cursor: pointer;
}
.product-detail .benefit-discount-item {
    margin-right: 8px;
    margin-top: 8px;
    position: relative;
}
.product-detail .benefit-discount-item-text {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    background: #eaedf1;
    border-radius: 6px;
    display: -webkit-box;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    padding: 6px 12px;
    text-align: center;
    text-overflow: ellipsis;
}
.product-detail .benefit-discount-item-text:after, .product-detail .benefit-discount-item-text:before {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 10px;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    width: 10px;
}
.product-detail .benefit-discount-item-text:before {
    left: -6px;
}
.product-detail .benefit-discount-item-text:after {
    right: -6px;
}
.product-detail .benefit-discount-more{
    align-items: center;
    display: flex;
    font-weight: 700;
}
 .discount-item {
    margin-top: 16px;
    position: relative;
}

.discount-item .discount-item-content{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
.discount-item .discount-item-background img {
    width: 130%;
}
.discount-item .discount-item-background {
    position: relative;
    z-index: 5;
}
.discount-item .discount-item-head {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 4px;
    width: 30%;
}
/* .discount-item img {
    background: #eaedf1;
    border: 1px solid #98a5b9;
    border-radius: 4px;
    height: 54px;
    overflow: hidden;
    width: 54px;
} */
.discount-item .discount-item-body {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    font-size: 13px;
    height: 100%;
    line-height: 19px;
    padding: 10px 18px;
}
.discount-item .discount-item-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.discount-item .discount-item-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}
.discount-item .discount-item-row.bottom {
    align-items: flex-end;
    padding-top: 4px;
}
.discount-item .discount-item-time {
    color: #98a5b9;
}
.modal-content {
    width: 85% !important;
}
.modal-header {
    background: #ececec;
}
.price-segment .current-price{
   font-family: League Gothic; 
   font-size: 28px;
   font-weight: 600;
   line-height: 36px;
   margin-right: 12px;
}
.price-segment .hurt{
    border-radius: 60px;
    font-size: 12px;
    height: 29px;
    align-items: center;
    margin: 0 0 10px 15px;
}
.old-price-detail{
    font-family: League Gothic;
    font-size: 20px;
}
.save{
    font-family: League Gothic;
    font-size: 17px;
}
.quantity-control-group {
    display: flex;
    height: 40px;
    width: 120px;
}
.quantity-control-group .down-btn, 
.quantity-control-group .up-btn {
    align-items: center;
    background: rgba(46,46,46,.1);
    border: 0;
    border-radius: 50%;
    color: #2e2e2e;
    cursor: pointer;
    display: flex;
    font-size: 22px;
    height: 40px;
    justify-content: center;
    line-height: 33px;
    line-height: 1;
    transition: .3s;
    width: 40px;
}
.quantity-control-group .quantity-input {
    background: 0 0;
    border: 0;
    border-bottom: 1px solid #ccd2dc;
    font-size: 16px;
    height: 40px;
    margin: 0 4px;
    text-align: center!important;
    width: 32px;
}
.quantity-control-group .quantity-input:focus{
    border: none;
}
.quantity-control-group .down-btn:hover, 
.quantity-control-group .up-btn:hover {
    background: #2e2e2e;
    color: #fff;
}
.cart-online{
    font-family: League Gothic;
    font-size: 20px !important;
    margin-bottom: 5px;
    line-height: 1 !important;
}
.cart-online:hover{
    background-color: #2e2e2e;
}
.cart-shared{
    width: 125px;
    align-items: center;
    text-align: center;
    border-radius: 60px;
    height: 36px;
}
.cart-this{
    font-size: 14px !important;
}
.provider-segment-inner .segment-head{
    border: 5px solid #171717;
}
.pd-segment-head{
    padding: 10px;
    text-align: center;
}
.product-detail .current-provider-info {
    align-items: center;
    color: #505f77;
    font-size: 13px;
    line-height: 19px;
    min-height: 44px;
    padding: 8px 16px;
    border: 1px solid #2e2e2e;
}
.home-feature-section {
    position: relative;
    z-index: 10;
    max-width: 1235px;
    margin-left: 4%;
    box-shadow: 0 -16px 32px -16px rgb(204 210 220 / 60%);
    
}
.home-feature-section:before, .home-feature-section:after {
    background: #ccd2dc;
    content: "";
    height: 1px;
    left: 0;
    position: relative;
    width: 100%;
    z-index: 30;
}
.feature-segment{
    border-bottom: 1px #ccc solid;
}
.image-feature img{
    width: 120% ;
}
.define-amazon-content {
    font-size: 24px;
    line-height: 21px;
    text-align: center;
}
.define-amazon-content img{
    width: 55%;
}
table tr{
    line-height: 2;
}
table th{
    font-size: 13pt;
}
table td{
    margin-left: 25px;
    font-size: 13pt;
    padding-left: 25%;
    width: 300px;
}
.product-info-section,
.product-image-section{
    border-bottom: 1px solid #ccd2dc;
    margin-top: 32px;
    padding-bottom: 32px;
    position: relative;
}
.product-image-section .product-image-title{
    align-items: center;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
}
.product-image-section .product-image-body img{
    max-height: 240px;
    max-width: 240px;
}
.product-scroll-section.headroom--not-top {
    opacity: 1;
    pointer-events: all;
    transform: unset;
}
.product-scroll-section {
    background: #000;
    color: #fff;
    left: 0;
    min-width: 1256px;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transform: translateY(-16px);
    transition: 1.3s;
    width: 100%;
    will-change: transform opacity;
    z-index: 40;
}
.product-scroll-section__inner {
    display: flex;
    height: 80px;
    justify-content: space-between;
}
.product-scroll-1{
    line-height: 1;
    align-items: center;
    
}
.product-scroll-section .price-type-segment {
    flex: 0 0 72px;
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    margin-right: 16px;
}

.product-scroll-section .price-segment {
    display: block;
    margin-right: 16px;
    padding-bottom: 6px;
}
.product-scroll-section .price-segment .curr-price {
    font-family: League Gothic;
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
}
.product-scroll-section .price-segment__old-price-panel .old-price {
    font-family: League Gothic;
    align-items: center;
    font-size: 18px;
    line-height: 1;
}
.old-price {
    margin-left: 0;
}
.down-btn-head{
    background-color: #fff !important;
    color: #000 !important;
}
.add-cart:hover,
.favorite-btn:hover{
    background-color: #2e2e2e;
    color: #fff;
}
.add-cart,
.favorite-btn{
    background-color: #fff;
    color: #2e2e2e;
    height: 42px;
    width: 45px;
}
.control-group {
    margin-top: 0;
}
.favorite-btn {
    margin-left: 10px;
}
.home-deal .section-head{
    border: 1px solid #ccc;
}
.section-head-pd{
    padding: 8px;
}
.section-head-top{
    padding: 2px;
}
.col-cor{
    max-width: 47%;
}
.side-sticky-wrapper {
    margin-left: -24%;
    top: 96px;
    position: sticky;
    border: 1px solid #171717d2;
    width: 243px;
}
.our-feature-side-section.headroom--not-top {
    margin-bottom: 16px;
    max-height: 1000px;
    opacity: 1;
    padding: 16px;
}

.our-feature-side-section .feature-item.is-active .feature-item-inner {
    color: #2e2e2e;
}
.our-feature-side-section .feature-item-inner {
    align-items: center;
    color: #505f77;
    cursor: pointer;
    display: flex;
    padding: 8px 0;
    position: relative;
}
.our-feature-side-section .feature-item-icon {
    font-size: 20px;
    margin-left: -6px;
}
.our-feature-side-section .feature-item-content {
    font-size: 12px;
    line-height: 18px;
}
.our-feature-side-section .feature-item-dropdown-icon {
    align-items: center;
    color: #000;
    display: flex;
    font-size: 10px;
    height: 16px;
    justify-content: center;
    width: 16px;
}
.our-feature-side-section .feature-item-inner:after {
    background: #f3f5f7;
    bottom: -1px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}.our-feature-side-section .feature-item-des {
    max-height: 300px;
    opacity: 1;
    padding: 8px 16px;
}
.our-feature-side-section .feature-item-des {
    background: #f3f5f7;
    color: #505f77;
    font-size: 12px;
    line-height: 18px;
    margin: 0 -16px;
    padding: 0 16px;
    transition: .3s;
}
.dropdown-toggle::after {
    display: none;
}


/*  */
/* order page */
.order-page {
    background: #eaedf1;
}
.order-header-section {
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(204 210 220 / 40%);
    margin-bottom: 4rem;
    height: 77px;
    line-height: 10px;
    margin-bottom: 0 !important;
    
}
.order-header-block {
    align-items: center;
    display: flex;
    padding: 1.25rem 0;
}
.order-header-block .header-logo-segment {
    height: 48px;
}
.order-header-block .header-logo-segment img{
    display: flex;
    height: 100%;
    max-width: 100%;
}
.order-header-block .header-info-segment{
    align-items: center;
    display: inline-flex;
    margin-left: auto;
    padding-left: 2rem;
}
.order-header-block .header-info-segment .info-col {
    align-items: center;
    display: inline-flex;
    padding: 0 2rem;
    position: relative;
}
.order-header-block .header-info-segment .header-title {
    color: #303846;
    font-size: 1.2rem;
    font-weight: 700;
}
.order-header-block .header-info-segment .info-line:before {
    background: #f3f5f7;
    content: "";
    height: calc(100% + 20px);
    left: 0;
    position: absolute;
    top: -10px;
    width: 1px;
}
.order-header-block .header-info-segment .header-cart-info {
    align-items: center;
    cursor: pointer;
    display: flex;
}
.header-cart-btn{
    position: relative;
}
.header-cart-quantity {
    position: absolute;
    left: 64%;
    top: -16px;
    z-index: 10;
    padding: 3px 5px;
    border-radius: 25px;
    background-color: #000;
    color: #fff;
    border: 2px #fff solid;
    font-size: 11px;
}
.btn-cart-head{
    background-color: #000;
    color: #fff;
    padding: 11px;
    border-radius: 20px;
    font-size: 15px;
}
.info-line .contact-info .contact-suggest-label{
    color: #505f77d7;
    font-size: 13px;
    margin-bottom: 6px;
}
.contact-info{
    text-align: right;
}
.order-layout {
    display: flex;
    margin-bottom: 32px;
    margin-top: 35px;
}
.order-layout__main-col {
    min-width: 0;
}
.order-layout__main-col.col-md-8{
    width: 875px !important;
}
.order-layout .ship-fee-alert {
    background: #cfd5de;
    border: 1px dashed #2e2e2e;
    border-radius: 4px;
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 16px;
    padding: 8px 16px;
}
.main-product .product-info {
    width: 64% !important;
    margin-right: 32px;
    min-width: 0;
}
.main-product .product-info {
    width: 49% !important;
    margin-right: 32px;
    min-width: 0;
}
.checkout-user-info-section .section-head-title {
    color: #505f77;
    font-size: 1rem;
    font-weight: 800;
}
checkout-user-info-section .fill-info-field {
    align-items: center;
    display: flex;
    justify-content: center;
}
.checkout-user-info-section .fill-info-field .img-col-title {
    display: block;
    flex: 0 0 132px;
    margin-right: 24px;
    margin-left: 10px;
}
.checkout-user-info-section .fill-info-field .img-col-title img {
    width: 132px;
}
.checkout-user-info-section .info-col.is-full-width .fill-info-field .meta-info-col {
    align-items: center;
    display: flex;
    margin-right: 0;
}
.info-label{
    width: 65%;
}
.field-control-group{
    width: 35%;
    text-align: right;
    margin: auto;
}
.checkout-user-info-section .main-fill{
    padding: 10px;
}
.checkout-user-info-section .title-col span{
    color: #98a5b9;
    font-weight: 700;
}
.content-payment{
    background: #fff;
    color: #303846;
    font-size: 0.8rem;
}
.checkout-payment-info-section .payment-method-group-item {
    align-items: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgb(204 210 220 / 70%);
    cursor: pointer;

    min-height: 72px;
    overflow: hidden;
    padding: 8px 12px;
    transition: .3s;
}
.checkout-payment-info-section .payment-method-group-item .logo-col {
    align-items: center;
    display: flex;
    flex: 0 0 48px;
    height: 48px;
    justify-content: center;
    margin-right: 12px;
}
.checkout-payment-info-section .payment-method-group-item .title-label {
    color: #303846;
    font-size: 13px;
    transition: .3s;
}
.payment-method-group-col{
    background-color: #f3f5f7;
}
.payment-method-group-col .content{
    padding: 12px;
}
.checkout-payment-info-section .effect:hover {
    background: #eaedf1;
    box-shadow: 0 8px 16px -4px rgb(46 46 46 / 30%);
}
.checkout-payment-info-section .payment-method-group-item .option-title {
    color: #2e2e2e;
    font-size: 11px;
}
.checkout-payment-info-section .payment-method-group-item .option-info-field {
    background: #cfd5de;
    padding: 0 !important;
    position: relative;
    width: 100%;
    transition: background-color .3s ease;
}
.checkout-payment-info-section .is-active{
    background: #2e2e2e;
    box-shadow: 0 8px 16px -4px rgb(46 46 46 / 40%);
    cursor: default;
    color: #fff;
}
.checkout-payment-info-section .payment-method-group-item.is-active .title-label{
    color: #fff;
}
.checkout-payment-info-section .payment-method-group-item.is-active img {
    filter: brightness(0) invert(1);
}
.checkout-payment-info-section .payment-method-group-item.is-disable {
    background: #fff;
    box-shadow: 0 1px 2px 0 rgb(204 210 220 / 70%);
    cursor: default;
    opacity: .5;
}
.fadopay-disable{
    position: relative;
}
.fadopay-disable .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.fadopay-disable .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.fadopay-disable:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.form-control__input {
    background: #fff;
    border: 2px solid #5f718c;
    color: #000;
    height: 40px;
    padding: 0 12px;
    transition: .3s;
    width: 100%;
    height: 34px;
}
.font-fm{
    font-family: Roboto;
}
.checkbox-col{
    text-align: right;
}
.label-phone{
    width: 50%;
    
}
.state-control__inner{
    color: #2e2e2e;
    font-size: 13px;
    line-height: 19px;
    margin-left: 0;
    margin-right: 8px;
}
.form-control__input::-webkit-input-placeholder { /* Edge */
    color: rgb(188, 188, 196);
    font-size: 14px;
}
.lable{
    color: #505f77;
    font-size: 12px;
    line-height: 18px;
    margin: 8px 0 0;
}
.payment-method-group-detail-block .discount-alert .min-order-value, 
.payment-method-group-detail-block .discount-alert .reduce-value, 
.payment-method-group-detail-block .number-style {
    font-family: Oswald,Roboto,sans-serif;
}
.checkout-payment-info-section .payment-method-group-detail-block {
    background: #fff;
    flex: 0 0 50%;
    padding: 16px;
}
.payment-method-group-detail-block .note-label {
    color: #505f77;
    font-size: 13px;
}
.payment-method-group-detail-block .break-line {
    background: #eaedf1;
    height: 1px;
    margin-bottom: 16px;
    margin-top: 16px;
    width: 100%;
}
.payment-method-group-detail-block .transfer-bank-logo-col {
    border: 1px solid #ccd2dc;
    border-radius: 8px;
    flex: 0 0 128px;
    padding: 8px;
}

.order-layout__sidebar-col.col-md-4{
    width:  calc(100% - 882px) !important;
}
.checkout-confirm-section {
    position: sticky;
    top: 24px;
    z-index: 10;
}
.checkout-confirm-section .order-info-form {
    background: #fff;
    border-radius: 8px;
}
.checkout-confirm-section .order-info-field {
    align-items: center;

}
.checkout-confirm-section .payment-limit-field .field-title {
    flex: 0 0 132px;
    margin-right: 2rem;
    color: #505f77;
    font-weight: 600;
}
.checkout-confirm-section .payment-limit-field .field-control {
    display: inline-flex;
    margin-left: auto;
}
.checkout-confirm-section .payment-limit-field .payment-percent {
    background: #fff;
    border: 1px dashed #ccd2dc;
    border-radius: 4px;
    color: #98a5b9;
    cursor: default;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.4rem 1rem;
    white-space: nowrap;
}
.checkout-confirm-section .payment-limit-field .payment-percent:hover{
    background: #676767;
    border-color: #2e2e2e;
    color: #2e2e2e;
}
.nav-pills .nav-link.active{
    color: #fff;
    background-color: black !important;
    box-shadow: 0 8px 16px -4px rgb(204 210 220 / 40%);
}
.nav-pills .payment-percent:hover.nav-link.active {
    color: #fff;
}
.payment-limit-field{
background: #f3f5f7;
}
.checkout-confirm-section .order-info-field.is-border-bottom {
    border-bottom: 1px dashed #eaedf1;
}
.checkout-confirm-section .total-product-price-field .total-product-price {
    color: #303846;
    font-family: Oswald,Roboto,Helvetica Neue,sans-serif;
    font-size: 1.2rem;
    margin-left: auto;
}
.checkout-confirm-section .total-product-price-field {
    align-items: center;
    background: #fff;
    border-bottom: 1px dashed #eaedf1;
    padding: 0.6rem 1.5rem;
}
.checkout-confirm-section .total-product-price-field .field-title {
    color: #505f77;
    font-weight: 600;
    margin-right: 2rem;
}
.checkout-confirm-section .empty-discount-field .discount-icon img{
    align-items: center;
    display: flex;
    height: 142px;
    justify-content: center;
}
.checkout-confirm-section .empty-discount-field {
    padding: 10px 30px;
    text-align: center;
    width: 320px;
}
.checkout-confirm-section .empty-discount-field .note {
    color: #505f77;
    margin-top: 22px;
    font-size: 15px;
}
.head-control-col{
    margin-left: auto;
}
.checkout-confirm-section .order-price-field .order-price-number {
    margin-left: auto;
    flex: 1 1;
    font-family: Roboto;
    font-size: 1.35rem;
    justify-content: flex-end;
    min-width: 0;
    overflow: hidden;
    text-align: right;
}
.checkout-confirm-section .order-price-field {
    background: #454545;
    color: #fff;
}
.checkout-confirm-section .confirm-fado-condition-label {
    color: #505f77;
    font-size: 13px;
}
.checkout-confirm-section .submit-order-info-btn {
    align-items: center;
    background: #454545;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: default;
    display: flex;
    font-family: Oswald,Roboto,Helvetica Neue,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    height: 48px;
    justify-content: center;
    text-transform: uppercase;
    width: 100%;
}
.text-head{
    font-size: 12px;
}
.field-mask {
    cursor: pointer;
}
.checkout-confirm-section .field-mask {
    border-radius: 2px;
    display: flex;
    flex: 0 0 100%;
    padding: 8px 12px;
    width: 100%;
}
.checkout-confirm-section .field-title {
    align-items: center;
    color: #505f77;
    cursor: pointer;
    display: flex;
    margin-right: 2rem;
}
.checkout-confirm-section .other-cost-value {
    color: #303846;
    font-family: Oswald,Roboto;
    margin-left: auto;
}
.checkout-confirm-section .order-info-dropdown {
    border-top: #98a5b9;
}
.checkout-confirm-section .field-mask:hover {
    background: #eaedf1;
}
.order-info-dropdown.show .field-mask{
    background: #eaedf1;
}
.checkout-confirm-section .first-payment-value-field {
    padding: 0.6rem 2rem;
}
.checkout-confirm-section .first-pay{
    background: #cfd5de;
}
.checkout-confirm-section .first-payment-value-field .field-title {
    color: #171717;
    font-weight: 600;
    margin-right: 2rem;
}
.checkout-confirm-section .first-payment-value-field .percent-cost-value {
    color: #2e2e2e;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 400;
    margin-left: auto;
}
.checkout-confirm-section .first-payment-value-field .field-title {
    color: #171717;
    font-weight: 600;
    margin-right: 2rem;
}
.order-info-field{
    background: #eff1fa  ;
    border-bottom: 1px dashed #ccced1;
}
.tab-pane{
    background-color: #fff;
}
.order-footer-section .footer-meta-info-col {
    margin-left: auto;
}
.order-footer-section{
    border-top: 1px solid #ccd2dc;;
}