@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body{
    font-family: Roboto;
}
.cate-description-section {
    background: #fff;
    padding: 8px 0;
    position: relative;
    z-index: 10;
}
.cate-description-section h1 {
    display: flex;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}
.search-tab-section{
    left: 0;
    position: sticky;
    position: -webkit-sticky;
    top: 130px;
    width: 100%;
    z-index: 100;
    background-color:#eaedf1 ;
    border-bottom: #9da5b2c9 1px solid;
}
.search-tab-section .tab-list{
    padding-top: 15px;
}
.search-tab-section .st-tab-list,
.search-tab-section .st-tab-list:before
{
    background: #eaedf1;
    border: 1px solid #ccd2dc;
    border-bottom: unset;
    border-top-right-radius: 8px;
}
.search-tab-section .st-tab-list {
    border-top-left-radius: 8px;
    box-shadow: 0 0 1px 0 #ccd2dc;
    color: #505f77;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    margin-right: 14px;
    padding: 8px 12px 8px 24px;
    position: relative;
    transition: padding .3s;
}
.search-tab-section .st-tab-list:before {
    border-left: unset;
    bottom: 0;
    content: "";
    height: calc(100% + 1px);
    position: absolute;
    right: -10px;
    transform: skew(20deg,0);
    width: 17px;
    z-index: 10;
}
.search-tab-section .st-tab-list.active{
    background: #fff;
}
.category-layout .category-list-sidebox{
border-bottom: 1px solid #ccd2dc;
margin-bottom: 24px;
padding-bottom: 24px;
position: relative;
}
.sidebox-head {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    line-height: 24px;
    margin-bottom: 16px;
}
.sidebox-head a {
    color: #2e2e2e;
    align-items: center;
    display: flex;
    font-weight: 700;
    line-height: 24px;
}
.sidebox-cate-current {
    font-weight: 600;
    margin-bottom: 12px;
    margin-left: 16px;
    margin-top: 16px;
}
.sidebox-body .resize-observer-host{
    border-left: #e5e1e1e5 1px solid;
    padding-left: 13px ;
}
.sidebox-body .sidebox-list-cate{
    padding: 0px 8px 0px 16px;
    height: auto;
    width: 100%; 
}
.sidebox-body .sidebox-item{
    align-items: flex-start;
    color: #303846;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 12px;
}
.sidebox-body .is-children{
    position: relative;
}
.sidebox-item.is-children:before {
    background: #2e2e2e;
    content: "";
    height: 100%;
    left: -14px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 1px;
}
.sidebox-item:active.is-children:before, 
.sidebox-item:hover.is-children:before {
    opacity: 1;
}
.sidebox-cate-all{
    margin:10px 0 0 16px;
    font-size: 12px;
}
.check-service{
    color: #535151;
}
.item-name-rating{
    width: 100%;
    font-size: 13px;
    line-height: 19px;
}
.sidebox-item-name .number-rating{
    justify-content: flex-end;
    display: flex;
}
.sidebox-item-name .number-rating i{
    color: #cfd5de;
    font-size: 11px;
}
.sidebox-range-select .select-price{
    border: #a19e9e 1px solid;
    width: 110px;
    height: 35px;
    border-radius: 30px;
}
.sidebox-body .btn-apply-search{
    padding: 10px 0;
    border-radius: 30px;
    justify-content: center;
    width: 100%;
    margin: 10px 0 0 3px;
}
.layout-inner.col-md-2{
    width: 18.5% !important;
}
.product-grid {
max-height: 350px;
}
.layout-main-product{
    margin-left: 20px;
}
.layout-main-product .col-md-3{
    width: 22%;
}
.layout-main-product .list-img{
    top: 25px
}
.control-group-trending .btn-list{
    margin-left: 40px !important;
    background-color: rgb(242 242 242 / 82%);
}
.page-link {
    border: none !important;
    font-weight: 700;
    color: #a9b0b9;;
}
.page-item.active .page-link {
    color: rgb(29, 29, 29);
    background-color: #fff;
}
.category-info-section .section-info{
    color: #98a5b9;
    font-size: 16px;
    font-weight: 600;
}
.category-info-section .section-sort{
    margin-left: auto
}
.section-sort .select-search{
    padding: 5px;
}
.section-sort .select-search:focus {
    border-color: #98a5b9;
    box-shadow: 0 0 0 4px rgb(234 237 241 / 60%);
}
.category-same-level-section .brand-category{
    flex-wrap: wrap ;
    display: flex;
}
.catery-bd{
    border-bottom: 1px solid #cfd5de;
}
.category-same-level-section{
    padding-bottom: 24px;
}

/*  */
/*  */
/* CART */
.cart-tab-section .cart-tab{
    max-width: 1233px !important;
}
.cart-empty-section{
    text-align: center;
    border-bottom: 1px solid #bfc1c3;
}
.cart-empty-section .section-inner img{
    max-width: 296px;
}
.cart-empty-section .btn-continue{
    border-radius: 50px;
    font-size: 14px;
}
.cart-empty-section .content{
    font-size: 14px;
    color: #505f77;
}
.cart-tab-section{
    padding: 9px 0;
    background: #fff;
}
.cart-tab{
    box-shadow: 0 8px 16px -4px rgb(48 56 70 / 10%);
    border-radius: 8px;
}
.cart-tab-section .nav-tabs {
    margin-left: 0;
}
.cart-tab-section .nav-link.active{
    color: #2e2e2e !important;
}
.circle-icon{
    z-index: 99;
    margin: -5px 0 0 10px;
}
.cart-product-section .section-head{
    border-bottom: 1px solid #e4e8ed;;
}
.cart-product-section .section-head .title-col {
    margin-left: 10px;
    padding: 12px 16px 12px 0;
}
.cart-product-section .section-head .title-segment {
    align-items: center;
    color: #000;
    display: flex;
}
.cart-product-section .section-head .icon-shape {
    align-items: center;
    flex: 0 0 28px;
    height: 28px;
    justify-content: center;
    margin-right: 4px;
    width: 28px;
}
.main-product .segment-left{
    display: flex;
    flex: 1 1;
    min-width: 0;
    padding: 16px 0;
}
.product-check {
    line-height: 10px;
    min-width: 0;
    padding: 0 16px;
}
.main-product .product-img {
    flex: 0 0 88px;
    margin: 0 12px 0 -8px;
    min-width: 0;
}
.main-product img{
    align-items: center;
    height: 88px;
    justify-content: center;
    width: 88px;
}
.main-product .product-info {
    width: 45%;
    margin-right: 32px;
    min-width: 0;
}
.main-product .product-name,
.font-ship {
    color: #000;
    display: block;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}
.main-product .meta-item-wrap {
    color: #505f77;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin-top: 4px;
}
.main-product .meta-item {
    align-items: baseline;
    display: inline;
}
.main-product .meta-item .content {
    color: #303846;
    display: inline;
}
.main-product .seperate-item {
    display: inline;
    margin: 0 2px;
}
.delivery-time-field {
    color: #505f77;
    font-size: 12px;
    line-height: 18px;
    margin-top: 8px;
}
.main-product .segment-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
    padding: 16px 0;
}
.main-product .product-quantity{
    flex: 0 0 128px;
    margin-right: 32px;
    min-width: 0;
    width: 136px;
}
.number-control{
    font-size: 14px;
    height: 34px;
    line-height: 21px;
    position: relative;
    width: 128px;
}
.number-control .number-control-input {
    height: 34px;
    position: absolute;

}

/* biến mất */
input.number-control-input::-webkit-outer-spin-button,
input.number-control-input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.number-control-input {
    background: #fff;
    border: 1px solid #ccd2dc;
    border-radius: 4px;
    color: #000;
    height: 40px;
    padding: 0 48px;
    text-align: center!important;
    transition: .3s;
    width: 100%;
}
.number-down, 
.number-up {

    align-items: center;
    background: #f3f5f7;
    border: 1px solid #ccd2dc;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    transition: .3s;
    width: 40px;
}
.number-up {
    left: 69%;
    border-radius: 0 5px 5px 0;
}
.number-down {
    left: -10px;
    border-radius: 5px 0 0 5px;
}
.number-btn-icon {
    background: #505f77;
    height: 2px;
    line-height: 1px;
    pointer-events: none;
    position: relative;
    width: 12px;
}
.number-btn-icon:before {
    background: #505f77;
    display: block;
    height: 12px;
    left: 50%;
    margin-left: -1px;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    width: 2px;
}
.main-product .product-price {
    margin: auto;
    min-width: 0;
    text-align: right;
}
.main-product .current-price {
    color: #2e2e2e;
    font-family: Oswald;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}
.main-product .total-current-price-field {
    color: #505f77;
    font-size: 13px;
    line-height: 19px;
    margin-top: 4px;
}
.main-product .total-current-price-field .total-current-price {
    font-family: Oswald;
}
.main-product .product-control {

    min-width: 0;
    width: 125px;
}
.main-product .control-btn {
    align-items: center;
    background: 0 0;
    border: 0;
    border-radius: 50%;
    color: #505f77;
    display: flex;
    height: 34px;
    justify-content: center;
    margin-right: 8px;
    transition: .3s;
    width: 34px;
}
.main-product .control-btn:hover{
    background-color: #2e2e2e;
    color: #fff;
}
.main-product .control-btn img {
    filter: invert(48%) sepia(14%) saturate(1222%) hue-rotate(175deg) brightness(88%) contrast(86%);
    max-width: none;
    width: 16px;
}
.cart-product-section .section-inner {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 16px -4px rgb(48 56 70 / 10%);
}
.cart-summary-section {
    margin: 24px 0 40px;
}
.cart-summary-section .section-static-inner {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 8px 16px -4px rgb(48 56 70 / 10%);
    padding: 16px;
}
.cart-summary-block .fee-ship {
    align-items: baseline;
    display: flex;
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 12px;
}
.cart-summary-block .fee-ship img {
    filter: invert(49%) contrast(100%) brightness(100%);
}
.discount-code-segment {
    align-items: center;
    display: flex;
}
.discount-code-form {
    height: 40px;
    position: relative;
    width: 320px;
}
.discount-code-form .discount-code-input {
    border: 1px solid #ccd2dc;
    border-radius: 4px;
    height: 40px;
    padding: 0 102px 0 16px;
    transition: .3s;
    width: 100%;
}
.discount-code-form .submit-btn {
    background: #2e2e2e;
    border: 0;
    border-radius: 0 4px 4px 0;
    color: #fff;
    font-weight: 700;
    height: 100%;
    padding-right: 8px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: .3s;
    width: 82px;
}
.discount-code-form .submit-btn:before {
    border-color: transparent transparent #2e2e2e;
    border-style: solid;
    border-width: 0 0 40px 12px;
    content: "";
    height: 0;
    position: absolute;
    right: 100%;
    top: 0;
    transition: .3s;
    width: 0;
}
.discount-code-input::-webkit-input-placeholder { /* Edge */
    color: #ccd2dc;
  }
.cart-summary-block .price-col {
    margin-left: auto;
    margin-right: 24px;
    min-width: 302px;
}
.cart-summary-block .total-price-field {
    align-items: center;
    display: flex;
}
.cart-summary-block .total-price-field .label {
    color: #505f77;
    font-weight: 700;
    margin-left: auto;
}
.cart-summary-block .total-price-field .value {
    margin-left: 8px;
    min-width: 136px;
    text-align: right;
}
.cart-summary-block .total-price-field .price {
    color: #2e2e2e;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.cart-summary-block .submit-cart-btn {
    font-family: Oswald;
    font-size: 16px;
    font-weight: 400;
    height: 58px;
    line-height: 24px;
    line-height: 1.4;
    text-transform: uppercase;
    width: 118px;
    background: #000;
    color: #fff;
    border: 0;
    border-radius: 4px;
}
.cart-summary-block .submit-cart-btn:hover {
    box-shadow: 0 16px 16px -10px rgb(0 0 0 / 50%);
    color: #fff;
}
.cart-summary-section .section-sticky {
    background: #fff;
    bottom: 0;
    box-shadow: 0 -8px 16px -4px rgb(204 210 220 / 40%);
    left: 0;
    position: fixed;
    right: 0;
    z-index: 70;
    opacity: 1;
    pointer-events: all;
    transform: unset;
}
/*  */
/*  */
/* profile */
.user-info-menu-segment.user-info-nenu-head {
    background: #f3f5f7;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 1px 0 0 #eaedf1;
    padding: 12px 16px;
}
.user-info-menu-segment .segment-item-body {
    align-items: center;
    display: flex;
}
.user-info-menu-segment .user-name-label-col {
    display: flex;
    flex: 1 1;
    min-width: 0;
}
.user-info-menu-segment .user-name-label {
    color: #303846;
    flex: 1 1;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user-info-menu-segment .user-edit-profile-icon-col {
    align-items: center;
    display: flex;
    margin-left: auto;
    padding-left: 16px;
}
.user-info-menu-segment .user-edit-profile-icon-shape {
    background: #fff;
    box-shadow: 0 2px 4px 0 rgb(204 210 220 / 70%);
    height: 24px;
    position: relative;
    top: 1px;
    width: 24px;
    border-radius: 40px;
    padding: 0;
}
.segment-item-body:hover .user-edit-profile-icon-shape {
    background: #2e2e2e;
    box-shadow: 0 2px 4px 0 rgb(46 46 46 / 40%);
}
.segment-item-body:hover .user-edit-profile-icon-shape img {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.fado-coin-wallet-copy{
    background: #eaedf1;
    border-color: #eaedf1;
    color: #505f77;
    border: none;
}
.fado-coin-wallet-copy:hover{
    background: #2e2e2e;
    color: #fff;
    border: none;
}
.fado-coin-wallet-copy i{
    font-size: 13px;
}
.fado-coin-wallet .fado-coin-wallet-text {
    white-space: nowrap;
}
.fado-coin-wallet .fado-coin-wallet-address {
    color: #98a5b9;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    margin-left: 8px;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.user-col .dropdown-menu{
    max-width: 300px;
}
.fado-coin-wallet-text{
    font-size: 14px;
    color: #505f77;
    margin-top: 2px;
}
.user-info-menu-segment .fado-coin-link-label:before {
    background: #98a5b9;
    content: "";
    height: 12px;
    position: absolute;
    right: 0;
    top: 12px;
    width: 1px;
}
.user-info-menu-segment .fado-coin-link-label {
    align-items: center;
    color: #2e2e2e;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    line-height: 18px;
    padding: 8px;
    position: relative;
}
.user-info-menu-segment .fado-coin-link-label:last-child:before {
    opacity: 0;
}
.header-main-block .user-menu-list {
    list-style: none;
}
.header-main-block .user-menu-list .menu-item {
    align-items: center;
    border-radius: 4px;
    color: rgb(93 93 93);
    display: flex;
    padding: 8px 12px;
    transition: .3s;
}
.header-main-block .user-menu-list .menu-item-icon {
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 1px;
    transition: .3s;
}
.header-main-block .user-menu-list .label-col {
    flex: 1 1;
    font-size: 15px;
}
.user-menu-list{
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}
.header-main-block .user-menu-list .menu-item:hover {
    background: #eaedf1;
}
.header-main-block .boder-logout{
    border-top: 1px solid #ccc;
}
.person-info-field .panel-head .panel-vip{
    font-size: 11px;
    height: 25px;
    line-height: 1;
    width: 109px;
}
.person-info-field .panel-head .panel-vip:hover{
    background: #000;
    border-color: #000;
    box-shadow: 0 16px 16px -10px rgb(69 69 69 / 50%);
    color: #fff;
}
.person-info-field .panel-head .panel-vip i{
   font-size: 9px;
}
.person-info-field .user-name-label:hover {
    color: #2e2e2e;
}
.person-info-field .user-name-label {
    color: #575e6b;
    font-size: 24px;
    line-height: 36px;
}
.person-info-field .readmore-col{
    line-height: 2;
    margin-left: 5px;
}
.person-info-field .readmore-label {
    display: inline-block;
    font-weight: 700;
    white-space: nowrap;
}
.person-info-field .readmore-col .readmore-icon-shape{
    display: inline-block;
    font-size: 11px;
}
.user-finance-info-segment .process-bar-outer {
    background: #ccd2dc;
    border-radius: 10px;
    height: 2px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.user-finance-info-segment .process-bar {
    background: #2e2e2e;
    width: 10%;
    bottom: 0;
    left: 0;
    margin: auto 0;
    position: absolute;
    top: 0;
}
.user-finance-info-segment .process-bar-col {
    flex: 1 1;
    min-width: 134px;   
}
.user-layout {
    padding-bottom: 24px;
}
.user-layout__sidebar-col {
    flex: 0 0 234px;
    margin-right: 24px;
    padding-right: 16px;
    position: relative;
}
.user-layout__sidebar-col:before {
    background: #eaedf1;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
}
.user-menu-segment .box-head {
    align-items: center;
    display: flex;
    margin-bottom: 4px;
    padding: 8px 16px 8px 0;
}
.user-menu-segment .head-icon-col .icon-shape {
    align-items: center;
    color: #2e2e2e;
    display: flex;
    font-size: 18px;
    height: 24px;
    justify-content: center;
    line-height: 27px;
    width: 24px;
}
.user-menu-segment .head-title-col {
    color: #303846;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.user-menu-segment .user-feature-item-list {
    list-style: none;
    list-style-type: none;
    position: relative;
    z-index: 0;
}
.user-menu-segment .user-feature-item-list:before {
    background: #eaedf1;
    content: "";
    display: block;
    height: 100%;
    left: 11px;
    position: absolute;
    top: 54%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
    z-index: -1;
}
.user-menu-segment .user-feature-item-list .feature-item {
    padding: 10px 11px;
}
.user-menu-segment .nav {
    display: inline-block;
}   
.user-layout__main-col {
    flex: 1 1;
}
.box-body .user-feature-item-list .nav-link{
    padding: 0 0 0 18px ;
}
.address-nav .nav-link{
    padding: 0;
}

.user-menu-segment .user-feature-item-list .feature-label{
    border: none;
    background-color: transparent;
    color: rgb(68, 66, 66);
}
.user-menu-segment .user-feature-item-list .feature-label.active{
    border-left: 3px #2e2e2e solid;
    color: #2e2e2e;
    font-weight: 700;
    font-family: Roboto;
}
.user-block__head__title-col {
    color: #505f77;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}
.user-block{
    align-items: center;
    border-bottom: 1px solid #eaedf1;
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.tab-content{
    width: 100%;
}
.user-block__input-form-group {
    margin: 0 auto;
    padding-top: 8px;
    width: 412px;
}
.user-block__body .form-check-input:checked {
    background-color: #151616;
    border-color: #080d14;
}
.section-title {
    font-size: 24px;
    line-height: 36px;
    margin-right: 16px;
}
.notification-card__date-col {
    flex: 0 0 132px;
     font-size: 12px;
    justify-content: center;
    line-height: 18px;
    min-width: 0;
    text-align: center;
}
.notification-card__icon-col .notification-shape__icon {
    background-image: url(https://stfe.fadoglobal.io/desktop/image/notification/icon-notification-group-2.svg);
    height: 20px;
    width: 20px;
    filter: brightness(0) invert(1);
}
.notification-card__icon-col{
    align-items: center;
    background: #2e2e2e;
    border-radius: 50%;
    display: inline-flex;
    height: 42px;
    justify-content: center;
    width: 43px;
    margin: 0 30px 0 20px;
}
.notification-card:first-child {
    border-radius: 4px 4px 0 0;
}
.notification-card {
    background: #f3f5f7;
    border-bottom: 1px solid #eaedf1;
    display: flex;
    padding: 16px 24px 16px 0;
}
.notification-card__content{
    font-size: 12px;
    color: #545a64;
    font-weight: 500;
}
.user-block {
    justify-content: space-between;
}
.user-wallet-add-wrapper:hover {
    background: #000;
    border-color: #000;
    box-shadow: 0 16px 16px -10px rgb(69 69 69 / 50%);
    color: #fff;
    border-radius: 40px;
}
.user-wallet-add-wrapper .dropdown-item:focus, .dropdown-item:hover {
    background: #000;
    color: #fff;
    transition: .3s;
}
.user-wallet-add-wrapper .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0px;
}
.user-wallet-add-wrapper .dropdown .dropdown-menu {
    min-width: unset;
    transition: .3s;
}
.user-wallet-add-wrapper .dropdown .dropdown-menu .dropdown-item{
    font-size: 14px;
}
.user-wallet-empty-block{
    justify-content: center;
    width: 373px;
    margin: auto;
}
.user-wallet-empty-block .wallet-empty-content img{
    width: 350px;
}
input.mz-form-control__input {
    background: #f3f5f7;
    color: #98a5b9;
}
.user-block--order-history__manage-body .table th{
    font-size: 15px;
    color: #88898a;
    font-size: 500;
}
.user-block--favorite-product__manage-body .table img{
    width: 50%;
}
.user-block--favorite-product__manage-body .table th{
    background: rgba(234,237,241,.2);
    border-bottom: 1px solid #eaedf1;
    border-top: 1px solid #eaedf1;
    color: #98a5b9;
    font-weight: 700;
    padding: 16px;
    text-align: center;
}
.modal.show .modal-dialog {
    transform: none;
    top: 30%;
}
.modal.show .delete-product{
    padding: 7px 35px;
}