.cate-description-section {
    background: #fff;
    padding: 8px 0;
    position: relative;
    z-index: 10;
}
.cate-description-section h1 {
    display: flex;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}
.search-tab-section{
    left: 0;
    position: sticky;
    position: -webkit-sticky;
    top: 130px;
    width: 100%;
    z-index: 100;
    background-color:#eaedf1 ;
    border-bottom: #9da5b2c9 1px solid;
}
.search-tab-section .tab-list{
    padding-top: 15px;
}
.search-tab-section .st-tab-list,
.search-tab-section .st-tab-list:before
{
    background: #eaedf1;
    border: 1px solid #ccd2dc;
    border-bottom: unset;
    border-top-right-radius: 8px;
}
.search-tab-section .st-tab-list {
    border-top-left-radius: 8px;
    box-shadow: 0 0 1px 0 #ccd2dc;
    color: #505f77;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    margin-right: 14px;
    padding: 8px 12px 8px 24px;
    position: relative;
    transition: padding .3s;
}
.search-tab-section .st-tab-list:before {
    border-left: unset;
    bottom: 0;
    content: "";
    height: calc(100% + 1px);
    position: absolute;
    right: -10px;
    transform: skew(20deg,0);
    width: 17px;
    z-index: 10;
}
.search-tab-section .st-tab-list.active{
    background: #fff;
}
.category-layout .category-list-sidebox{
border-bottom: 1px solid #ccd2dc;
margin-bottom: 24px;
padding-bottom: 24px;
position: relative;
}
.sidebox-head {
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    line-height: 24px;
    margin-bottom: 16px;
}
.sidebox-head a {
    color: #2e2e2e;
    align-items: center;
    display: flex;
    font-weight: 700;
    line-height: 24px;
}
.sidebox-cate-current {
    font-weight: 600;
    margin-bottom: 12px;
    margin-left: 16px;
    margin-top: 16px;
}
.sidebox-body .resize-observer-host{
    border-left: #e5e1e1e5 1px solid;
    padding-left: 13px ;
}
.sidebox-body .sidebox-list-cate{
    padding: 0px 8px 0px 16px;
    height: auto;
    width: 100%; 
}
.sidebox-body .sidebox-item{
    align-items: flex-start;
    color: #303846;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 12px;
}
.sidebox-body .is-children{
    position: relative;
}
.sidebox-item.is-children:before {
    background: #2e2e2e;
    content: "";
    height: 100%;
    left: -14px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 1px;
}
.sidebox-item:active.is-children:before, 
.sidebox-item:hover.is-children:before {
    opacity: 1;
}
.sidebox-cate-all{
    margin:10px 0 0 16px;
    font-size: 12px;
}
.check-service{
    color: #535151;
}
.item-name-rating{
    width: 100%;
    font-size: 13px;
    line-height: 19px;
}
.sidebox-item-name .number-rating{
    justify-content: flex-end;
    display: flex;
}
.sidebox-item-name .number-rating i{
    color: #cfd5de;
    font-size: 11px;
}
.sidebox-range-select .select-price{
    border: #a19e9e 1px solid;
    width: 110px;
    height: 35px;
    border-radius: 30px;
}
.sidebox-body .btn-apply-search{
    padding: 10px 0;
    border-radius: 30px;
    justify-content: center;
    width: 100%;
    margin: 10px 0 0 3px;
}
.layout-inner.col-md-2{
    width: 18.5% !important;
}
.product-grid {
max-height: 350px;
}
.layout-main-product{
    margin-left: 20px;
}
.layout-main-product .col-md-3{
    width: 22%;
}
.layout-main-product .list-img{
    top: 25px
}
.control-group-trending .btn-list{
    margin-left: 40px !important;
    background-color: rgb(242 242 242 / 82%);
}
.page-link {
    border: none !important;
    font-weight: 700;
    color: #a9b0b9;;
}
.page-item.active .page-link {
    color: rgb(29, 29, 29);
    background-color: #fff;
}
.category-info-section .section-info{
    color: #98a5b9;
    font-size: 16px;
    font-weight: 600;
}
.category-info-section .section-sort{
    margin-left: auto
}
.section-sort .select-search{
    padding: 5px;
}
.section-sort .select-search:focus {
    border-color: #98a5b9;
    box-shadow: 0 0 0 4px rgb(234 237 241 / 60%);
}
.category-same-level-section .brand-category{
    flex-wrap: wrap ;
    display: flex;
}
.catery-bd{
    border-bottom: 1px solid #cfd5de;
}
.category-same-level-section{
    padding-bottom: 24px;
}

/*  */
/*  */
/* CART */
.cart-empty-section{
    text-align: center;
    border-bottom: 1px solid #bfc1c3;
}
.cart-empty-section .section-inner img{
    max-width: 296px;
}
.cart-empty-section .btn-continue{
    border-radius: 50px;
    font-size: 14px;
}
.cart-empty-section .content{
    font-size: 14px;
    color: #505f77;
}
.cart-tab-section{
    padding: 9px 0;
    background: #fff;
}
.cart-tab{
    box-shadow: 0 8px 16px -4px rgb(48 56 70 / 10%);
    border-radius: 8px;
}
.cart-tab-section .nav-tabs {
    margin-left: 0;
}
.cart-tab-section .nav-link.active{
    color: #2e2e2e !important;
}
.circle-icon{
    z-index: 99;
    margin: -5px 0 0 10px;
}
.cart-product-section .section-head{
    border-bottom: 1px solid #cecfd0;;
}
.cart-product-section .section-head .title-col {
    margin-left: 10px;
    padding: 12px 16px 12px 0;
}
.cart-product-section .section-head .title-segment {
    align-items: center;
    color: #000;
    display: flex;
}
.cart-product-section .section-head .icon-shape {
    align-items: center;
    flex: 0 0 28px;
    height: 28px;
    justify-content: center;
    margin-right: 4px;
    width: 28px;
}
.main-product .segment-left{
    display: flex;
    flex: 1 1;
    min-width: 0;
    padding: 16px 0;
}
.main-product .product-check {
    line-height: 10px;
    min-width: 0;
    padding: 0 16px;
}
.main-product .product-img {
    flex: 0 0 88px;
    margin: 0 12px 0 -8px;
    min-width: 0;
}
.main-product img{
    align-items: center;
    height: 88px;
    justify-content: center;
    width: 88px;
}
.main-product .product-info {
    width: 45%;
    margin-right: 32px;
    min-width: 0;
}
.main-product .product-name,
.font-ship {
    color: #000;
    display: block;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}
.main-product .meta-item-wrap {
    color: #505f77;
    display: block;
    font-size: 12px;
    line-height: 18px;
    margin-top: 4px;
}
.main-product .meta-item {
    align-items: baseline;
    display: inline;
}
.main-product .meta-item .content {
    color: #303846;
    display: inline;
}
.main-product .seperate-item {
    display: inline;
    margin: 0 2px;
}
.delivery-time-field {
    color: #505f77;
    font-size: 12px;
    line-height: 18px;
    margin-top: 8px;
}
.main-product .segment-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
    padding: 16px 0;
}
.main-product .product-quantity{
    flex: 0 0 128px;
    margin-right: 32px;
    min-width: 0;
    width: 136px;
}
.number-control{
    font-size: 14px;
    height: 34px;
    line-height: 21px;
    position: relative;
    width: 128px;
}
.number-control .number-control-input {
    height: 34px;
}
.number-control-input {
    background: #fff;
    border: 1px solid #ccd2dc;
    border-radius: 4px;
    color: #000;
    height: 40px;
    padding: 0 48px;
    text-align: center!important;
    transition: .3s;
    width: 100%;
}
.number-down, 
.number-up {

    align-items: center;
    background: #f3f5f7;
    border: 1px solid #ccd2dc;
    cursor: pointer;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    transition: .3s;
    width: 40px;
}
.number-up {
    left: 69%;
    border-radius: 0 5px 5px 0;
}
.number-down {
    left: -10px;
    border-radius: 5px 0 0 5px;
}
.number-btn-icon {
    background: #505f77;
    height: 2px;
    line-height: 1px;
    pointer-events: none;
    position: relative;
    width: 12px;
}
.number-btn-icon:before {
    background: #505f77;
    display: block;
    height: 12px;
    left: 50%;
    margin-left: -1px;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    width: 2px;
}